<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스프링부트</title>

    <!--부트스트랩 css-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css" />

    <!--custom css-->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <!-- navbar -->
    <header>
      <nav>
        <div class="nav-home">홈</div>
        <div class="nav-button-container">
          <div
            class="button button-secondary"
            data-bs-toggle="modal"
            data-bs-target="#createUsersModal"
          >회원가입</div>
          <div class="button button-primary">로그인</div>
        </div>
      </nav>
    </header>

    <!-- 게시글 리스트 -->
    <main class="post-list col-xxl-8">
      <!-- 상단 글쓰기 버튼 -->
      <div
        class="button button-primary"
        data-bs-toggle="modal"
        data-bs-target="#createPostsModal"
      >
        글쓰기
      </div>
      <div class="vrow column head">
        <div class="vrow-inner">
          <div class="vrow-top">
            <span class="vcol col-id">번호</span>
            <span class="vcol col-title">제목</span>
          </div>
          <div class="vrow-bottom">
            <span class="vcol col-author">글쓴이</span>
            <span class="vcol col-date">작성일</span>
            <span class="vcol col-views">조회수</span>
          </div>
        </div>
      </div>
      <!-- 글 출력 영역 -->
      {{#each posts}}
        <div class="vrow column">
          <div class="vrow-inner">
            <div class="vrow-top">
              <span class="vcol col-id">{{id}}</span>
              <span class="vcol col-title"><a
                  href="/post/{{id}}"
                >{{title}}</a></span>
            </div>
            <div class="vrow-bottom">
              <span class="vcol col-author">{{author}}</span>
              <span class="vcol col-date">{{createdDate}}</span>
              <span class="vcol col-views">{{viewCount}}</span>
            </div>
          </div>
        </div>
        <hr />
      {{/each}}
      <!-- 하단 글쓰기 버튼 -->
      <div
        class="button button-primary"
        data-bs-toggle="modal"
        data-bs-target="#createPostsModal"
      >
        글쓰기
      </div>
    </main>

    <!--글쓰기 Modal-->
    <div
      class="modal fade"
      id="createPostsModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createPostsModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="createPostsLabel"
              style="color: black;"
            >글쓰기</h5>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="author"
                  placeholder="닉네임"
                />
              </div>
              <div class="mb-4">
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  placeholder="제목을 입력해주세요."
                />
              </div>
              <div class="mb-3">
                <textarea
                  class="form-control"
                  id="content"
                  rows="20"
                ></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="button button-warn" data-bs-dismiss="modal">
              취소
            </div>
            <div class="button button-primary" id="btn-create">
              등록
            </div>
          </div>
        </div>
      </div>
    </div>

    {{! 회원가입 Modal }}
    <div
      class="modal fade"
      id="createUsersModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="createUsersModal"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5
              class="modal-title"
              id="createUsersModal"
              style="color: black;"
            >회원가입</h5>
          </div>
          <div class="modal-body">
            <form class="row g-3">
              <div class="col-md-6 mb-3">
                <label for="login" class="modal-col">아이디</label>
                <input
                  type="text"
                  class="form-control"
                  id="login"
                  placeholder="아이디(6~12자 이내, 영문, 숫자 사용 가능)"
                />
                <div id="login-feedback"></div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="nickname" class="modal-col">닉네임</label>
                <input
                  type="text"
                  class="form-control"
                  id="nickname"
                  placeholder="닉네임(2~20자 이내, 영문, 숫자, 한글 사용 가능)"
                />
                <div id="nickname-feedback"></div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="password" class="modal-col">비밀번호</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="비밀번호(6~24자 이내, 영문, 숫자, 특수문자 사용 가능)"
                />
                <div id="password-feedback"></div>
              </div>
              <div class="col-md-6 mb-3">
                <label for="reinput-password" class="modal-col">비밀번호 재입력</label>
                <input
                  type="password"
                  class="form-control"
                  id="reinput-password"
                />
                <div id="reinput-password-feedback"></div>
              </div>
              <div class="col-md-12 mb-3">
                <label for="email" class="modal-col">이메일</label>
                <input type="email" class="form-control" id="email" />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="button button-warn" data-bs-dismiss="modal">취소</div>
            <div class="button button-primary" id="btn-create-user">가입</div>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>

    <!--부트스트랩 js, jquery-->
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>

    <!-- custom js -->
    <script src="/js/app/main.js"></script>
    <script src="/js/app/global.js"></script>

  </body>
</html>