<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>스프링부트</title>

    <!--부트스트랩 css-->
    <link rel="stylesheet" href="/css/lib/bootstrap.min.css" />

    <!--custom css-->
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/viewPost.css" />
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-home">홈</div>
        <div class="nav-button-container">
          <div class="button button-secondary">회원가입</div>
          <div class="button button-primary">로그인</div>
        </div>
      </nav>
    </header>
    <main>
      <aside class="button-container">
        <div class="button button-warn" id="delete-button">삭제</div>
        <div
          class="button button-primary"
          data-bs-toggle="modal"
          data-bs-target="#updatePostsModal"
        >수정</div>
      </aside>
      <div
        class="modal fade"
        id="updatePostsModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="updatePostsModal"
        aria-hidden="true"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-lg"
          role="document"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">글수정</h5>
            </div>
            <div class="modal-body">
              {{#post}}
                <form>
                  <input type="hidden" id="post-id" value={{id}} />
                  <div class="mb-4">
                    <input
                      type="text"
                      class="form-control"
                      id="title"
                      value={{title}}
                    />
                  </div>
                  <div class="mb-3">
                    <textarea
                      class="form-control"
                      id="content"
                      rows="20"
                    >{{content}}</textarea>
                  </div>
                </form>
              {{/post}}
            </div>
            <div class="modal-footer">
              <div
                class="button button-secondary"
                data-bs-dismiss="modal"
              >취소</div>
              <div class="button button-primary" id="update-button">수정</div>
            </div>
          </div>
        </div>
      </div>
      {{#post}}
        <div class="post-container">
          <hr />
          <div class="post-title">{{title}}</div>
          <hr />
          <div class="post-information-container">
            <div class="post-information-box">
              <div class="post-information">{{author}}</div>
            </div>
            <ul class="post-information-box">
              <li class="post-information">조회수</li>
              <li class="post-information">{{viewCount}}</li>
              <li class="post-information">|</li>
              <li class="post-information">작성일</li>
              <li class="post-information">{{createdDate}}</li>
            </ul>
          </div>
          <hr />
          <div class="post-content">{{content}}</div>
        </div>
      {{/post}}
    </main>
    <footer>
    </footer>

    <!--부트스트랩 js, jquery-->
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/jquery.min.js"></script>

    <!--custom js-->
    <script src="/js/app/viewPost.js"></script>
  </body>
</html>